<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' name='username' ng-model='user.username' required>
    <span ng-show="!signupForm.username.$valid">Username is required</span>
    <input type="password" name = 'pw' ng-model='user.password' required>
    <span ng-show="!signupForm.pw.$valid">Password is required</span>
    <button>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
